<header class='search-bar-contents'>
  <%= link_to image_tag("gobou.png", class: "fridge-icon"), "/" %>

  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nick_name, "", class: "user-nickname" %></li>
      <li><%= link_to image_tag("logout.png", class: "logout-icon"), destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to image_tag("login.png", class: "login-icon"), new_user_session_path, class: "login" %>
      ログイン</li>
    <% end %>
  </ul>
</header>


<div class='title-contents'>
  <h3 class='service-title'>
    Fridge!で冷蔵庫を整理しよう！！
  </h3>
 <%= form_with(url: search_cookings_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :keyword, placeholder: "料理名、材料", class: "search-input" %>
  <%= f.submit "レシピ検索", class: "search-btn" %>
<% end %>
</div>


<div class='feature-contents'>
  <h2 class='title'>
    Fridge!の特徴
  </h2>
  <ul class='feature-lists'>
    <li class='list'>
      <%= image_tag "kensaku.jpg" , class: "item-img" %> 
      <h3 class='feature-list-text'>
        余った食材で検索
      </h3>
      <p class='feature-list-description'>
        検索した食材を使ったレシピを一覧表示できます。
      </p>
    </li>
    <li class='list'>
      <%= image_tag "osieru.jpg" , class: "item-img" %>
      <h3 class='feature-list-text'>
        自分のレシピを教える
      </h3>
      <p class='feature-list-description'>
        検索はもちろん自分のレシピをアップすることができます。
      </p>
    </li>
    <li class='list'>
      <%= image_tag "okiniiri.jpg" , class: "item-img" %>
      <h3 class='feature-list-text'>
        お気に入りのレシピを保存
      </h3>
      <p class='feature-list-description'>
        お気に入りに保存したレシピをすぐに見る事ができます。
      </p>
    </li>
  </ul>
</div>


<%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>〜最新レシピ〜</h2>
    <%= link_to '新規投稿商品', new_cooking_path , class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @cookings.each do |cooking| %> 
       <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag cooking.image , class: "item-img"  %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= cooking.cooking_name %>
          </h3>
        </div>
        <% end %>
       </li>
      <% end %> 
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

    </ul>
  </div>
  <%# //商品一覧 %>